body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#stay {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#double {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#deal {
    position: absolute;
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: green;
    border-radius: 50%;
}

.hide {
    visibility: hidden;
}

.bettingArea{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.chip {
    border-radius: 50%;
    padding-left: 5px;
    height: 26px;
    width: 26px;
}

/* #1bet {
    background-color: blue;
}

#5bet {
    background-color: yellowgreen;
}

#10bet {
    background-color: violet;
}

#bet {
    background-color: cadetblue;
}

#50bet {
    background-color: grey;
} */